<<<<<<< HEAD
body {
  background: #0f172a;
  color: #e2e8f0;
}

h1 {
  color: #38bdf8;
=======
body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
>>>>>>> 42e210b1698b21c215cc66df4c1d95776a271844
}